[submodule "Nage.Strata"]
	path = extern/Nage.Strata
	url = https://github.com/fontmaniac/Nage.Strata.git
	branch = master
[submodule "FNA"]
	path = extern/FNA
	url = https://github.com/FNA-XNA/FNA.git
	branch = master
